html, body {
    margin: 0; padding: 0;
}

div#title-box {
    float: left;
    width: 905px;
    margin-left: 50px;
}

div#title-box img {
    float: left;
    width: 200px;
    margin: 20px 10px 0 0;
}

form#login-box {
    float: left;
    width: 400px;
    margin: 25px 0 0 0;
}

form#login-box input[type="text"],
form#login-box input[type="password"] {
    display: block;
    margin: 0 0 5px 0;
}

ul#primary-nav{
    clear: left;
    margin: 0 0 0 50px; padding: 0;
    list-style-type: none;
}

ul#primary-nav li{
    float: left;
}

ul#primary-nav li a {
    display: block;
    text-decoration: none;
    padding : 10px 15px;
    background-color: maroon;
    color: #fff;
}

ul#primary-nav li a:hover {
    background-color: orange;
}

ul#primary-nav li a.selected {
    background-color: #000;
}

div#content{
    clear: left;
    float: left;
    padding: 5px 0 0 0;
    border: 1px solid #ccc;
    margin: 0 0 0 50px;
}

div#sub-content {
    width: 680px;
    padding: 100px 100px 210px 100px;
}

ul#side-tabs {
    float: left;
    list-style-type: none;
    padding: 0;
}

/*ul#side-tabs li {*/
/*    padding: 10px 10px 15px 10px;*/
/*    background-color: maroon;*/
/*    text-align: center;*/
/*}*/

ul#side-tabs li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #999;
    color: #000;
    text-align: right;
}

ul#side-tabs li a:hover {
    background-color: #ccc;
}

ul#side-tabs li a.selected {
    background-color: #fff;
}

div#blogs {
    float: left;
    width: 800px;
    border-left: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

div#blogs {
    float: left;
    width: 800px;
}

div.blog-post {
    border-bottom: 1px solid #ccc;
}

div.blog-post div.blog-points {
    float: left;
    width: 50px;
    font-size: x-large;
    text-align: center;
}

div.blog-post div.blog-picture img{
    float: left;
    width: 172px;
    padding-right: 10px;
    height: 130px;
    object-fit: cover;
}



div.blog-post h3.blog-title { }
div.blog-post p.blog-description,
div.blog-post p.blog-byline { }

div#side-bar {
    float: left;
    width: 400px;
    margin: 0 0 0 20px
}

div#side-bar a img.ad {
    width:inherit;
    height: 280px;
}

div#footer {
    clear: left;
    text-align: center;
}

