{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VT Food Critics Space</title>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/search-scripts.js' %}"></script>
    <script src="{% static 'js/blog-in-detail-scripts.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/update-profile-scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='{% static "css/responsive.css" %}'>
</head>

<body>
    <div id="header">
        <div id="title-box">
            <img src='{% static "img/logo_maroonVTonWhite.svg" %}' alt="Logo">
            <h1>VT Food Critics Space</h1>
            <h2>Everything a foodie wants to know!</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Info: {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}Info: {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Warning: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!--title-box -->
        {% if request.session.username %}

        <form id="login-box">
            <p>Logged in as <b>{{request.session.username}}</b> | <a href='{% url "users:logout" %}'>Logout</a></p>
        </form>

        {% else %}

        <form id="login-box" action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit" value="Log In">
            <a class="btn btn-primary" href="{% url 'users:register' %}">Sign Up</a>
        </form>

        {% endif %}
        <ul id="primary-nav">
            <li><a href="{% url 'food_critics:home' %}">Home</a></li>
            <li><a href="{% url 'food_critics:blog-list' %}">Blogs</a></li>
            <li><a href="#">About</a></li>
            {% if request.session.username %}<li><a href="{% url 'users:profile' request.session.username %}">Profile</a></li>{% endif %}
            <li><a href="#">Privacy</a></li>
        </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="side-bar"> 
        <a href="#"><img class="ad" src='{% static "img/ad_snickers.jpeg" %}' alt="Ad 1"></a>
        <a href="#"><img class="ad" src='{% static "img/ad_keloptic.jpeg" %}' alt="Ad 2"></a>
    </div>
    <div id="footer">
        <div class="secondary_nav">
            <p><a href="{% url 'food_critics:home' %}">Home</a> |
                <a href="{% url 'food_critics:blog-list' %}">Blogs</a> |
                <a href="#">About</a> |
                {% if request.session.username %}<a href="#">Profile</a> |{% endif %}
                <a href="#">Privacy</a>
            </p>
            <p>&copy; 2021 VT Food Critics Space | Virginia Tech</p>
        </div>
    </div>
</body>

</html>